body {
    color: aqua;
    background-color: rgba(0, 21, 255, 0.65);
    height: 100vh;
}

img {
    height: 500px;
    width: 350px;
    
}


a {
    color: darkgray;
}

ul :hover{
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.5s;
    color: gold;
    text-decoration: none;
    text-shadow: 1px 3px aqua;
}
div {
    width: 100%;
    
}



